services:
  kafka:
    image: docker.io/lensesio/fast-data-dev
    #network_mode: host # this is naughty, but kafka is very picky
    ports:
      - 9092:9092
      - 8081:8081
      - 8083:8083
      - 3030:3030
    healthcheck:
      test: ["CMD-SHELL", "kafka-topics --list --bootstrap-server 127.0.0.1:9092"]
      interval: 2s
      timeout: 2s
      retries: 15
    environment:
      ADV_HOST: "localhost"
  operator:
    build: .
    network_mode: host # this is naughty, but kafka is very picky
    depends_on:
      kafka:
        condition: service_healthy